body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200PX;
}
#d1{
    border: 2px solid black;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background-color: greenyellow;
    box-shadow: 5px 5px 5px black;
   
}

h2{
   text-align: center;
}
label{
    display: block;
    padding-top: 10px;
}
form{
    margin-left: 50px;
}
#btn{
   margin-top: 10px;
   margin-left: 40px;
   background-color: rgb(253, 155, 7);
}
